
input,
button {
  display: block;
}

.hint {
  font-style: italic;
  color: #ccc;
}

.title-form {
  color: #ffffff;
  font-size: 40px;
  text-align: center;

  @media (min-width: 320px) and (max-width: 992px) {
    font-size: 26px;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.nav-first {
  border-top-left-radius: 20px;
}

.first-tabs {
  border-top-left-radius: 20px;
}
.gender-class{
   border-radius: 44px !important;
   background: rgba(255, 255, 255, 0.3) !important;
  font-weight: 600;
  option {
    color: #ad5697;
  }

}
.wrapper-form-act {
  background: rgba(255, 255, 255, 0.4);
  margin: 0px 0px;
  padding: 0 15px;
  padding-bottom: 50px;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px;

  @media (min-width: 320px) and (max-width: 992px) {
    border-bottom-right-radius: 20px !important;
  }


}

.block-form-text {
  height: 100%;

  .warppep-descr-form {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px !important;
    padding: 23px 30px 25px;
    height: 100%;
    overflow: hidden;

    @media (min-width: 320px) and (max-width: 992px) {
      padding: 20px 15px 30px;
      max-height: initial !important;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      padding: 20px 30px 30px;
    }
  }

  .descr-form-text {
    font-size: 18px;
    color: #504d4d;
    margin-bottom: 55px;
    line-height: 1.8;

    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 19px;
      margin-bottom: 31px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
      font-size: 15px;
    }
  }
}

//@media (min-width: 320px) and (max-width: 992px) {
//  border-radius: 20px;
//}





.text-result{
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  .wrapper-result-text{
    display: flex;
    width: 100%;
    h2{
      display: flex;
      justify-content: center;
      width: 100%;
      color: #ad5697;
      font-size: 40px;
      
    }
  }
}

.button-search:hover {
  background: #96577e;
}
.button-search {
  background: #ad5697;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  width: 50px;
  margin-left: 10px;
}


.button-search[disabled] {
  background: rgba(255, 255, 255, 0.4);
  color: #504d4d;
  cursor: not-allowed;
}

.custom-select:focus {
  border: 1px solid #ced4da;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom: none;
  box-shadow: none;
  outline: 0;
  color: #ad5697;;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background: rgba(255, 255, 255, 0.3) !important;
  cursor: not-allowed;
}

.wrapper-form {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  position: relative;

  .form-calculate-block {
    height: 100%;

    @media (min-width: 320px) and (max-width: 992px) {
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
    }

    @media (min-width: 320px) and (max-width: 992px) {
      margin-bottom: 35px;
    }

    .nav-tabs {
      padding: 0;
      margin: 0;
      line-height: normal;
      border: none;
      background-color: transparent !important;
      box-shadow: none !important;
      margin: 0 0px;
      overflow: hidden;
      border-radius: 0px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      .nav-item {
        margin-bottom: 0px;

        @media (min-width: 320px) and (max-width: 992px) {
          height: 68px;
        }

        .nav-link {
          border: none;
          background: transparent;
          border-top: 0;
          border-left: 0;
          padding: 20px 0;
          border-right: 0px;
          background: rgba(255, 255, 255, 0.1);
          color: #ffffff;
          border-bottom: 1px solid #ad5697;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: #ad5697;

          @media (min-width: 320px) and (max-width: 992px) {
            height: 100%;
            font-size: 22px;
          }
          &:hover {
            border-color: #ad5697;
          }
          &.active {
            border-bottom: 0;
            border-top: 0;
            border-left: none;
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 0px;
            position: relative;
            color: #ad5697;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
}

.no-active-tabs {
  border-top-left-radius: 0px !important;
}

.form-item {
  margin-top: 20px;
  margin-bottom: 25px;
  position: relative;

  label {
    margin-bottom: 0px;
    color: #ad5697;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 0px;

    &.active {
      display: none;
      border: none;
    }
  }

  input {
    padding-left: 15px !important;
    box-sizing: border-box !important;
    z-index: 3333 !important;
    display: flex !important;
  }
}

.picker__date-display {
  background-color: #ad5697 !important;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background: #ad5697;

  .filtrable {
    color: #ffffff;
  }
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: #ad5697;
}

.form-control {
  color: #ad5697;
  font-weight: 600;
  border-bottom: none;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#date-picker-example,
#date-picker-example2 {
  margin-bottom: 30px;
}

.title-form {
  margin-bottom: 60px;
}

.wrapper-time-birth,
.wrapper-select {
  display: flex;
  height: 40px;
}

.form-control:focus {
  background: transparent;
  color: #ad5697;
}

.text-input__label {
  color: #666666;
}

#timepicker_hours,
#timepicker_minutes,
#timepicker_AmPm {
  height: 100%;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup{
  opacity: 0;
}

#select_day1,
#select_month2 {
  height: 100%;
}

.wrapper-btn {
  text-align: center;
  margin-top: 10px;
  justify-content: center;
  display: flex;

  @media (min-width: 320px) and (max-width: 992px) {
    padding-left: 0px;
    padding-right: 0px;
  }

  .button-form {
    background: #ad5697;
    color: #ffffff;
    padding: 5px 0px;
    border: none;
    width: 300px;
    border-radius: 40px;
    font-size: 30px;

    @media (min-width: 320px) and (max-width: 992px) {
      width: 100%;
    }

    &:hover {
      background: #96577e;
    }
  }
}

.right-form,
.left-form-wrapper {
  padding: 0px 0px;
}

.place-birth{
  @media (min-width: 320px) and (max-width: 992px) {
    margin-top: 0px !important;
  }
}


.md-form {
  color: #ad5697;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;

  input {
    border-bottom: none !important;
    box-shadow: none !important;
    margin: 0px;
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 20px !important;
    margin-bottom: 25px !important;
    margin: 0px;
    position: relative;

    &::placeholder {
      color: #ad5697;
    }
  }
}

.wrapper-form-vertical {
  .nav-link {
    font-size: 36px;
    text-align: center;
    background: #ffffff;
    color: #ad5697;
    margin-bottom: 0px;

    &.active {
      background: #ad5697;
      color: #ffffff;
    }
  }
}

.text-calculate {
  font-size: 28px;
  color: #ad5697;
  text-align: center;
}

.caret {
  display: none;
}

#inputMDEx1 {
  padding-right: 10px;
}

.mobile-select {
  @media (min-width: 320px) and (max-width: 992px) {
    height: auto;
  }

  .md-form {
    @media (min-width: 320px) and (max-width: 992px) {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.picker__day--highlighted {
  background: #ad5697 !important;
  border-radius: 50%;
  color: #ffffff !important;
}

.clockpicker-am-pm-block {
  .active {
    background: blueviolet !important;
  }

  button {
    background: #ad5697 !important;
  }
}

.second-form-wrap {
  @media (min-width: 320px) and (max-width: 992px) {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.nav-tabs .disabled {
  cursor: not-allowed;
}

.right-section-tab {
  border-left: 1px solid #ad5697;
  @media (min-width: 320px) and (max-width: 992px) {
    border-top-right-radius: 20px;
  }
}

.checkbox-text {
  @media (min-width: 320px) and (max-width: 992px) {
    padding: 0 15px;
  }


  .form-check {
    margin-right: 0px;
    display: flex;
    align-items: center;
    padding-left: 0px;

    span {
      color: #f3efef;
      font-weight: 600;

      @media (min-width: 320px) and (max-width: 576px) {
        font-size: 12px;
      }

      @media (min-width: 992px) and (max-width: 1200px) {
        font-size: 15px;
      }
    }
  }
}


.block-form-text {
  @media (min-width: 320px) and (max-width: 992px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.dropdown-content {
  overflow: hidden;
  padding-top: 10px;
}

.picker__holder {
  overflow: hidden;
}

.wrapper-column> {
  .row [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .row {
    overflow: hidden;
  }
}

.form-check-input {
  margin-left: 4px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #ad5697;
  background-color: #ad5697;
  margin-top: 12px;
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  width: 1.75rem;
  pointer-events: all;
  border-radius: 0.5rem;
  margin-top: 12px;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  transform: translateX(0.75rem);
  margin-top: 12px;
}

.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  background-color: #adb5bd;
  border-radius: 0.5rem;
  margin-top: 12px;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

//.form-check-input {
//  input[type="checkbox"]+label,
//  label.btn input[type="checkbox"]+label {
//    padding-left: 45px;
//  }
//  input[type="checkbox"].filled-in:checked+label:after,
//  label.btn input[type="checkbox"].filled-in:checked+label:after {
//    width: 30px;
//    height: 30px;
//    background-color: transparent;
//    border: 2px solid #ad5697;
//    top: -2px;
//  }
//  input[type="checkbox"].filled-in:not(:checked)+label:after,
//  label.btn input[type="checkbox"].filled-in:not(:checked)+label:after {
//    width: 30px;
//    height: 30px;
//    background-color: transparent;
//    border: 2px solid #ad5697;
//    top: -2px;
//  }
//  input[type="checkbox"].filled-in:checked+label:before,
//  label.btn input[type="checkbox"].filled-in:checked+label:before {
//    left: 3px;
//    width: 11px;
//    height: 20px;
//    top: -1px;
//  }
//}



//
//.form-check-input[type="checkbox"]+label,
//label.btn input[type="checkbox"]+label {
//  padding-left: 45px;
//}
//
//.form-check-input[type="checkbox"].filled-in:checked+label:after,
//label.btn input[type="checkbox"].filled-in:checked+label:after {
//  width: 30px;
//  height: 30px;
//  background-color: transparent;
//  border: 2px solid #ad5697;
//  top: -2px;
//
//}

//.form-check-input[type="checkbox"].filled-in:not(:checked)+label:after,
//label.btn input[type="checkbox"].filled-in:not(:checked)+label:after {
//  width: 30px;
//  height: 30px;
//  background-color: transparent;
//  border: 2px solid #ad5697;
//  top: -2px;
//}

//.form-check-input[type="checkbox"].filled-in:checked+label:before,
//label.btn input[type="checkbox"].filled-in:checked+label:before {
//  left: 3px;
//  width: 11px;
//  height: 20px;
//  top: -1px;
//}
.picker__box{
  @media (min-width: 320px) and (max-width: 340px) {
    // padding-top: 51px !important;
  }
}
.picker__weekday-display,
.picker__month-display,
.picker__day-display{
  @media (min-width: 320px) and (max-width: 340px) {
   font-size: 20px !important;
  }
}



.picker--opened .picker__frame{
  top: 20%;
  bottom: auto;
  position: fixed;
  @media (min-width: 320px) and (max-width: 360px) {
     top: 12%;
  }
}



.clockpicker {
  .picker__frame{
 @media (min-width: 320px) and (max-width: 365px) {
   top: 50% !important;
   margin-top: -195px;
 }  
  }
  .clockpicker-button{
     @media (min-width: 320px) and (max-width: 375px) {
       margin-top: 0;
     }
  }
  .picker__footer{
    padding: 0;
  }
}

.invalid-feedback {
  margin-left: 10px;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  display: block!important;
  position: absolute;
  top: 35px;
}

.clockpicker-am-pm-block{
  @media (min-width: 320px) and (max-width: 360px) {
    display: none !important;
  }
}
