@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'form.scss';
@import'tabs.scss';

[v-cloak] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
}

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(../assets/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #2b22226e;

  .color_hd {
    background: linear-gradient(to left, #4babc2, #7782ca, #a462ab, #706067);
  }
  .fixed-top {
    z-index: 11111;
  }

  header {
    background: none;
    padding: 10px 0;
    @media (min-width: 320px) and (max-width: 340px) {
      padding-top: 0;
      padding-bottom: 0;
    }
    @media (min-width: 320px) and (max-width: 992px) {
      background: linear-gradient(to left, #4babc2, #7782ca, #a462ab, #706067);
    }

    .navbar {
      font-weight: 300;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0 0px;

      .navbar-brand {
        img {
          width: 180px;
          height: auto;
        }
      }

      .nav-item {
        display: flex;
      }

      .nav-link {
        position: relative;
        color: #ffffff !important;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #96577e !important;
          transform: scaleX(0);
          transform-origin: bottom left;

          transition: transform 0.5s;
        }

        &:hover {
          &:after {
            transform: scaleX(1);
          }
        }
      }


      .navbar-nav {
        @media (min-width: 320px) and (max-width: 992px) {
          padding-left: 15px;
          padding-top: 20px;
          padding-bottom: 15px;
        }

        li {
          display: flex;
          align-items: center;
          margin-right: 23px;

          &:last-child {
            margin-right: 0px;
          }

          svg {
            color: #96577e;

            @media (min-width: 320px) and (max-width: 992px) {
              color: #ffffff;
            }
          }

          .login-in-icon {
            font-size: 18px;
          }
        }
      }
    }
  }
.custom-control-label::after{
      top: 0rem;
}
  .clock-picker__hours,
  .clock-picker__minutes {
    display: flex;
    justify-content: center !important;
  }

 label{
   outline: none;
 }
 

  
  main {
    padding: 70px 0 70px 0;
    margin-top: 74px;
    flex-grow: 1;
    flex: 1;
    @media (min-width: 320px) and (max-width: 768px) {
      padding: 30px 0;
    }
  }

  footer {

    a {
      color: #fff;
    }

    .social-buttons-wrapper {
      display: none;
    }

    .list-links-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 320px) and (max-width: 768px) {
        flex-direction: column;
      }

      li {
        margin-right: 22px;
        border-right: 1px solid #ffffff;
        padding-right: 22px;
        line-height: normal;

        &:last-child {
          border-right: none;
        }

        @media (min-width: 320px) and (max-width: 768px) {
          margin-right: 0px;
          border-right: none;
          padding-right: 0px;
          margin-bottom: 20px;
        }

        a {
          &:hover {

            color: #969796;
          }
        }
      }
    }

    .footer-copyright {
      overflow: hidden;
      color: hsla(0,0%,100%,.6);
      background-color: rgba(0,0,0,.2);
      a {
        padding-right: 11px;
        padding-left: 0px;
        border-right: 1px solid #ffffff;

        &:last-child {
          border-right: none;
        }
      }

      span {
        color: #ffffff;
        padding-left: 7px;
      }
    }
  }
}

input:focus {
  outline: 0 ;
}

button:focus {
  outline: 0;
}

a:focus {
  outline: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.autosuggest__results {
  ul {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 5px);
    border-radius: 3px;
    border: 1px solid #aaa;
    background-color: #fff;
    opacity: 1;
    z-index: 1000;
    list-style-type: none;
    min-height: 35px;
    max-height: 170px;
    padding-left: 5px;
    overflow-y: scroll;

    li {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 5px 10px;
    }
  }
}