<template>
  <div>
    <div id="page"
         v-cloak
    >
      <header class="header fixed-top active"
              :class="{color_hd: scrollPosition > 1}"
      >
        <b-container>
          <b-navbar toggleable="lg" type="dark">
            <b-navbar-brand href="#">
              <b-link>
                <b-img :src="require('@/assets/logo.svg')"></b-img>
              </b-link>
            </b-navbar-brand>
<!--            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>-->
<!--            <b-collapse id="nav-collapse" is-nav right>-->
<!--              <b-navbar-nav class="ml-auto">-->
<!--                <b-nav-item active href="#">-->
<!--                  <font-awesome-icon icon="sign-in-alt" />-->
<!--                  Login-->
<!--                </b-nav-item>-->
<!--                <b-nav-item href="#">-->
<!--                  <font-awesome-icon icon="user-plus" />-->
<!--                  Registration-->
<!--                </b-nav-item>-->
<!--              </b-navbar-nav>-->
<!--            </b-collapse>-->
          </b-navbar>
        </b-container>
      </header>
      <main>
        <b-container>
          <b-row autocomplete="off">
            <b-col class="col-xs-12 col-md-offset-2 col-lg-12 col-lg-offset-3">
              <h2 class="title-form">{{ $t('main_title') }}</h2>
              <div class="wrapper-form  wrapper-form-vertical wrapper-column" v-if="showUserForm">
                <b-row tabs>
                  <b-col class="col-lg-6 col-12">
                    <div class="form-calculate-block fadeIn animated slow">
                      <b-nav class="nav-tabs md-tabs nav-justified primary-color" role="tablist">
                        <b-nav-item class="nav-first" :active="currentTab === 'tab-you'" v-model="currentTab" @click="onTabChange('tab-you')">{{ $t('tab_you') }}</b-nav-item>
                        <b-nav-item
                            class="right-section-tab"
                            :active="currentTab === 'tab-friend'"
                            v-model="currentTab"
                            @click="onTabChange('tab-friend')"
                        >{{ $t('tab_friend') }}</b-nav-item>
                      </b-nav>

                      <div class="wrapper-form-act">

                        <div  class="tab-content">
                          <!-- Panel 1 -->
                          <transition name="fade"  mode="out-in">
                          <div v-if="currentTab === 'tab-you'" key="tab-you">
                            <!-- Nav tabs -->
                            <div class="row">
                              <div class="col-lg-12 wrapper-right-form">
                                <div>
                                  <div class="left-form-wrapper">
                                    <fieldset class="form__fieldset required form__login">
                                      <div class="form__field__wrapper form-item">
                                        <!-- Material input -->
                                        <div class="md-form">
                                          <b-form-input
                                              v-model="user.email.value"
                                              :placeholder="$t('you_mail_placeholder')"
                                              @input="emailErrors"
                                              @blur="emailErrors"
                                          ></b-form-input>
                                          <b-form-invalid-feedback
                                              v-show="user.email.errors.length > 0"
                                              :style="[ user.email.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                          >
                                            {{user.email.errors.join(' ')}}
                                          </b-form-invalid-feedback>
                                        </div>
                                      </div>

                                      <div class="form__field__wrapper form-item second-form-wrap">
                                        <div class="wrapper-select mobile-select row">
                                          <div class="col-lg-6 md-form">
                                            <b-form-input
                                                type="text"
                                                v-model="user.firstName.value"
                                                :placeholder="$t('you_first_name_placeholder')"
                                                @input="firstNameErrors"
                                                @blur="firstNameErrors"
                                            ></b-form-input>
                                            <b-form-invalid-feedback
                                                v-show="user.firstName.errors.length > 0"
                                                :style="[ user.firstName.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                            >
                                              {{user.firstName.errors.join(' ')}}
                                            </b-form-invalid-feedback>
                                          </div>
                                          <div class="col-lg-6 md-form">
                                            <b-form-input
                                                type="text"
                                                v-model="user.lastName.value"
                                                :placeholder="$t('you_last_name_placeholder')"
                                                @input="lastNameErrors"
                                                @blur="lastNameErrors"
                                            ></b-form-input>
                                            <b-form-invalid-feedback
                                                v-show="user.lastName.errors.length > 0"
                                                :style="[ user.lastName.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                            >
                                              {{user.lastName.errors.join(' ')}}
                                            </b-form-invalid-feedback>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form__field__wrapper form-item second-form-wrap">
                                        <div class="wrapper-select mobile-select row">

                                          <div class="col-lg-6 md-form">
                                            <b-form-input
                                                :placeholder="$t('you_date_of_birth_placeholder')"
                                                type="text"
                                                class="form-control"
                                                @focus="user.birthDatePicker.modal = true"
                                                v-model="user.birthDatePicker.birthDate"
                                            ></b-form-input>
                                            <b-form-invalid-feedback
                                                v-show="user.birthDatePicker.errors.length > 0"
                                                :style="[ user.birthDatePicker.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                            >
                                              {{user.birthDatePicker.errors.join(' ')}}
                                            </b-form-invalid-feedback>
                                            <transition name="calendar-fade">
                                              <md-date-picker
                                                  color="#ad5697"
                                                  :min="getStartDate()"
                                                  :max="getEndDate()"
                                                  v-model="user.birthDatePicker.birthDate"
                                                  v-if="user.birthDatePicker.modal"
                                                  @close="datePickerError('user')"
                                                  @input="datePickerError('user')"
                                              ></md-date-picker>
                                            </transition>
                                          </div>
                                          <div class="col-lg-6 md-form">
                                            <vue-clock-picker
                                                v-model="user.birthTimePicker.birthTime"
                                                :placeholder="$t('you_time_of_birth_placeholder')"
                                                input-class="form-control"
                                                @close="timePickerError('user')"
                                            ></vue-clock-picker>
                                            <b-form-invalid-feedback
                                                v-show="user.birthTimePicker.errors.length > 0"
                                                :style="[ user.birthTimePicker.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                            >{{user.birthTimePicker.errors.join(' ')}}</b-form-invalid-feedback>
                                          </div>

                                        </div>
                                      </div>
                                      <div class="form__field__wrapper form-item place-birth">
                                        <loading :active.sync="user.city.isCityLoading"
                                                 :can-cancel="false"
                                                 loader="bars"
                                                 color="#ad5697"
                                                 :is-full-page="false"></loading>
                                        <!-- Material input -->
                                        <div class="md-form">
                                          <vue-autosuggest
                                              ref="userCity_autocomplete"
                                              v-model="user.city.searchInput"
                                              :suggestions="user.city.results"
                                              :inputProps="{id: 'userCity_autosuggest__input', placeholder: $t('you_city_of_birth_placeholder'), class: 'form-control', name: 'userCity'}"
                                              :renderSuggestion="renderSuggestion"
                                              :getSuggestionValue="getSuggestionValue"
                                              v-debounce:1s="getUserCity" debounce-events="input"
                                              :sectionConfigs="{'cities': {
                                                onSelected: selected => {
                                                  user.city.value = selected.item;
                                                }
                                              }}"
                                          />
                                          <b-form-invalid-feedback
                                              v-show="user.city.errors.length > 0 || user.city.apiError"
                                              :style="[ user.city.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                          >{{user.city.errors.join(' ')}}</b-form-invalid-feedback>
                                        </div>
                                      </div>
                                      <div class="form__field__wrapper form-item">
                                        <!-- Material input -->
                                        <b-form-select
                                            v-on:focusout.native="genderErrors('user')"
                                            @input="genderErrors('user')"
                                            v-model="user.gender.value"
                                            :options="genderOptions"
                                            class="mdb-select md-form gender-class"
                                            placeholder="Gender"
                                        >
                                        </b-form-select>
                                        <b-form-invalid-feedback
                                            v-show="user.gender.errors.length > 0"
                                            :style="[ user.gender.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                        >{{user.gender.errors.join(' ')}}</b-form-invalid-feedback>
                                      </div>
                                      <div class="checkbox-text">
                                        <!-- Default checked -->
                                        <div class="form-check mb-2">
                                          <b-form-checkbox
                                              class="form-check-input filled-in"
                                              :checked="true"
                                              switch
                                              v-model="registerUser"
                                          >
                                            <span>{{ $t('create_account_checkbox_message') }}</span>
                                          </b-form-checkbox>

                                        </div>
                                      </div>
                                    </fieldset>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Nav tabs -->
                          </div>

                          <!-- Panel 1 -->
                          <!-- Panel 2 -->

                          <div  v-if="currentTab === 'tab-friend'" key="tab-friend">
                            <div class="row">
                              <div class="col-lg-12 wrapper-right-form">
                                <div>
                                  <div class="left-form-wrapper">
                                    <fieldset class="form__fieldset required form__login">

                                      <div class="form__field__wrapper form-item">
                                        <div class="md-form">
                                          <b-form-input
                                              type="text"
                                              v-model="people.name.value"
                                              :placeholder="$t('friend_name_placeholder')"
                                              @input="friendNameErrors"
                                              @blur="friendNameErrors"
                                          ></b-form-input>
                                          <b-form-invalid-feedback
                                              v-show="people.name.errors.length > 0"
                                              :style="[ people.name.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                          >
                                            {{people.name.errors.join(' ')}}
                                          </b-form-invalid-feedback>
                                        </div>
                                      </div>
                                      <div class="form__field__wrapper form-item second-form-wrap">
                                        <div class="wrapper-select mobile-select row">

                                          <div class="col-lg-6 md-form">
                                            <b-form-input
                                                :placeholder="$t('friend_date_of_birth_placeholder')"
                                                type="text"
                                                class="form-control"
                                                @focus="people.birthDatePicker.modal = true"
                                                v-model="people.birthDatePicker.birthDate"
                                            ></b-form-input>
                                            <b-form-invalid-feedback
                                                v-show="people.birthDatePicker.errors.length > 0"
                                                :style="[ people.birthDatePicker.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                            >
                                              {{people.birthDatePicker.errors.join(' ')}}
                                            </b-form-invalid-feedback>
                                            <transition name="calendar-fade">
                                              <md-date-picker
                                                  color="#ad5697"
                                                  :min="getStartDate()"
                                                  :max="getEndDate()"
                                                  v-model="people.birthDatePicker.birthDate"
                                                  v-if="people.birthDatePicker.modal"
                                                  @close="datePickerError('people')"
                                                  @input="datePickerError('people')"
                                              ></md-date-picker>
                                            </transition>
                                          </div>
                                          <div class="col-lg-6 md-form">
                                            <vue-clock-picker
                                                v-model="people.birthTimePicker.birthTime"
                                                :placeholder="$t('friend_time_of_birth_placeholder')"
                                                input-class="form-control"
                                                @close="timePickerError('people')"
                                            ></vue-clock-picker>
                                            <b-form-invalid-feedback
                                                v-show="people.birthTimePicker.errors.length > 0"
                                                :style="[ people.birthTimePicker.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                            >{{people.birthTimePicker.errors.join(' ')}}</b-form-invalid-feedback>
                                          </div>

                                        </div>
                                      </div>
                                      <div class="form__field__wrapper form-item">
                                        <loading :active.sync="people.city.isCityLoading"
                                                 :can-cancel="false"
                                                 loader="bars"
                                                 color="#ad5697"
                                                 :is-full-page="false"></loading>
                                        <!-- Material input -->
                                        <div class="md-form">
                                          <vue-autosuggest
                                              ref="peopleCity_autocomplete"
                                              v-model="people.city.searchInput"
                                              :suggestions="people.city.results"
                                              :inputProps="{id: 'peopleCity_autosuggest__input', placeholder: $t('friend_city_of_birth_placeholder'), class: 'form-control', name: 'peopleCity'}"
                                              :renderSuggestion="renderSuggestion"
                                              :getSuggestionValue="getSuggestionValue"
                                              v-debounce:1s="getFriendCity" debounce-events="input"
                                              :sectionConfigs="{'cities': {
                                                onSelected: selected => {
                                                  people.city.value = selected.item;
                                                }
                                              }}"
                                          />
                                          <b-form-invalid-feedback
                                              v-show="people.city.errors.length > 0 || people.city.apiError"
                                              :style="[ people.city.errors.length > 0 ? { 'margin-bottom': '-15px'} : { 'margin-bottom': '0px' }]"
                                          >{{people.city.errors.join(' ')}}</b-form-invalid-feedback>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </transition>
                          <!-- Panel 2 -->
                          <div class="col-lg-12 wrapper-btn" v-if="showUserForm">
                            <b-button
                                v-if="isCalculateButtonEnabled"
                                class="button-form"
                                type="submit"
                                @click="calculate"
                            >{{ $t('calculate_button_text') }}</b-button>
                            <b-button
                                v-else
                                disabled
                                variant="primary"
                                v-b-tooltip.hover :title="$t('calculation_button_disabled_message')"
                                class="button-form"
                                type="submit">{{ $t('calculate_button_text') }}</b-button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </b-col>
                  <b-col class="col-lg-6 col-12">
                    <div class="block-form-text fadeIn animated slow">
                      <div class="warppep-descr-form">

                        <p class="descr-form-text" v-html="$t('main_description')"></p>
                      </div>
                    </div>
                  </b-col>
                </b-row>
              </div>
              <div class="text-result"  v-if="showCalculatingBlock">
                <b-row class="wrapper-result-text">
                  <b-col cols="12" align-v="center" class="col-lg-12">
                    <h2>
                      {{ $t('calculating_title') }}
                    </h2>
                    <h2>
                    <loading :active.sync="showCalculatingBlock"
                             :can-cancel="false"
                             loader="bars"
                             color="#ad5697"
                             :is-full-page="false"></loading>
                    </h2>
                  </b-col>
                </b-row>
              </div>
              <div class="text-result"  v-if="showCalculatingErrorBlock">
                <b-row class="wrapper-result-text">
                  <b-col cols="12" align-v="center" class="col-lg-12">
                    <h2>
                      {{ $t('calculating_error_title') }}:
                    </h2>
                  </b-col>
                  <b-col cols="12" align-v="center" class="col-lg-12  wrapper-btn" >
                    <ul :key="error" v-for="error in getCalculatingErrors" style="color: #ffffff">
                      <li >{{ error }}</li>
                    </ul>
                  </b-col>
                  <b-col cols="12" align-v="center" class="col-lg-12  wrapper-btn" >
                    <b-button
                        class="button-form"
                        type="button"
                        @click="calculateAgain"
                    >{{ $t('calculate_again_button_text') }}</b-button>
                  </b-col>
                </b-row>
              </div>
              <div class="text-result"  v-if="showCalculatedBlock">
                <b-row class="wrapper-result-text">
                  <b-col cols="12" align-v="center" class="col-lg-12">
                    <h2>
                      {{ $t('calculated_text') }}
                    </h2>
                  </b-col>
                  <b-col cols="12" align-v="center" class="col-lg-12  wrapper-btn" >
                      <b-button
                          class="button-form"
                          type="button"
                          @click="calculateAgain"
                      >{{ $t('calculate_again_button_text') }}</b-button>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </main>
      <footer class="page-footer font-small pt-4">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-12 mx-auto">
              <!-- Links -->
<!--              <ul class="list-unstyled list-links-footer">-->
<!--                <li>-->
<!--                  <a href="#!">FAQ</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#!">About</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#!">Guidelines</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#!">Terms & Conditions</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#!">Privacy Policy</a>-->
<!--                </li>-->
<!--              </ul>-->
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <!-- Social buttons -->
        <ul class="list-unstyled social-buttons-wrapper list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fa fa-facebook"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fab fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          <a href="mailto:@ 2020 Soular.Space">@ 2020 Soular.Space</a>
          <span>All Rights Reserved</span>
        </div>
        <!-- Copyright -->
      </footer>
    </div>
  </div>

</template>

<script>

import {validationMixin} from 'vuelidate'
import {required, email} from 'vuelidate/lib/validators'
import {asyncPostData} from "@/apiUtil";
import NProgress from 'nprogress'
import './sass/nprogress.scss'
import { VueAutosuggest } from "vue-autosuggest";
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

const inArray =  (value, vm)  => {
  return vm.items.some(gender => gender.value !== null && value === gender.value)
}
const minDate = (value) => {
  if (value === null) {
    return true;
  }
  const parts = value.split("-")
  const valueDate  = new Date(parts[0], parts[1], parts[2])
  // reset time
  valueDate.setHours(0); valueDate.setMinutes(0); valueDate.setSeconds(0); valueDate.setMilliseconds(0);

  const now = new Date();
  let minDate = new Date(now.getFullYear() - 80, 1, 1);
  // reset time
  minDate.setHours(0); minDate.setMinutes(0); minDate.setSeconds(0); minDate.setMilliseconds(0);

  return valueDate > minDate;
}
const maxDate = (value) => {
  if (value === null) {
    return true;
  }

  const parts = value.split("-")
  const valueDate  = new Date(parts[0], parts[1], parts[2])
  // reset time
  valueDate.setHours(0); valueDate.setMinutes(0); valueDate.setSeconds(0); valueDate.setMilliseconds(0);

  const now = new Date();
  let maxDate = new Date(now.getFullYear() - 18, now.getMonth(), now.getDay());
  // reset time
  maxDate.setHours(0); maxDate.setMinutes(0); maxDate.setSeconds(0); maxDate.setMilliseconds(0);

  return valueDate < maxDate;
}

export default {
  mixins: [validationMixin],
  name: 'App',
  components: {
    VueAutosuggest,
    Loading
  },
  validations: {
    user: {
      gender: {
        value: {
          required,
          inArray
        }
      },
      email: {
        value: {required, email},
      },
      firstName: {
        value: {required},
      },
      lastName: {
        value: {required},
      },
      birthDatePicker: {
        birthDate: {
          required,
          maxDate,
          minDate,
        }
      },
      birthTimePicker: {
        birthTime : {required}
      },
      city : {
        value: {required}
      }
    },
    people: {
      name: {
        value: {required,}
      },
      birthDatePicker: {
        birthDate: {
          required,
          maxDate,
          minDate,
        }
      },
      birthTimePicker: {
        birthTime : {required}
      },
      city : {
        value: {required}
      },
    }
  },
  data: () => ({
    showUserForm: true,
    showCalculatedBlock: false,
    showCalculatingBlock: false,
    calculated: false,
    registerUser: true,
    scrollPosition: null,
    currentTab: 'tab-you',
    user: {
      gender: {
        items : [
          {value:'male', text: 'Male'},
          {value: 'female', text: 'Female'},
          ],
        value: null,
        errors: []
      },
      city: {searchInput: null, value: null, isCityLoading: false, results: [], apiError: null, errors: []},
      firstName: {value: null, errors: []},
      lastName: {value: null, errors: []},
      birthDatePicker: {
        birthDate: null,
        modal: false,
        errors: []
      },
      birthTimePicker: {
        birthTime: null,
        errors: []
      },
      email: {
        value: null,
        errors: []
      }
    },
    people: {
      city: {searchInput: null, value: null, isCityLoading: false, results: [], apiError: null, errors: []},
      name: {value: null, errors: []},
      birthDatePicker: {birthDate: null, modal: false, errors: []},
      birthTimePicker: {birthTime: null, errors: []},
    },
    calculatingErrors: null,
    showCalculatingErrorBlock: false
  }),
  computed: {
    getCalculatingErrors() {
      if (this.calculatingErrors === null) {
        return null;
      }

      let errors = [];
      this.calculatingErrors.forEach((error) => {
        if (this.$te(error)) {
          error = this.$t(error);
          if (!error.endsWith('.')) {
            error = error + '.';
          }
          errors.push(error);
        } else {
          if (!error.endsWith('.')) {
            error = error + '.';
          }
          errors.push(error)
        }
      });

      return errors;
    },
    genderOptions() {
      return  [
        {value:'male', text: this.$t('gender_male_option')},
        {value: 'female', text: this.$t('gender_female_option')},
        {value: null, text: this.$t('gender_placeholder')}
      ]
    },
    isCalculateButtonEnabled() {
      return!this.$v.user.email.value.$invalid && this.user.email.value
          && !this.$v.user.firstName.value.$invalid && this.user.firstName.value
          && !this.$v.user.lastName.value.$invalid && this.user.lastName.value
          && !this.$v.user.birthDatePicker.birthDate.$invalid && this.user.birthDatePicker.birthDate
          && !this.$v.user.birthTimePicker.birthTime.$invalid && this.user.birthTimePicker.birthTime
          && !this.$v.user.city.value.$invalid && this.user.city.value
          && !this.$v.user.gender.value.$invalid && this.user.gender.value
          && !this.$v.people.name.$invalid && this.people.name
          && !this.$v.people.birthDatePicker.birthDate.$invalid && this.people.birthDatePicker.birthDate
          && !this.$v.people.birthTimePicker.birthTime.$invalid && this.people.birthTimePicker.birthTime
          && !this.$v.people.city.value.$invalid && this.people.city.value
    },
  },
  methods: {
    onTabChange(tabName) {
      if (this.currentTab === tabName) return;

      if (tabName === 'tab-you') {

        this.friendNameErrors()
        this.datePickerError('people')
        this.timePickerError('people')
        this.friendCityError()

        const friendFormInvalid = this.$v.people.name.value.$invalid
            || this.$v.people.birthDatePicker.birthDate.$invalid
            || this.$v.people.birthTimePicker.birthTime.$invalid
            || this.$v.people.city.value.$invalid;

        if (!friendFormInvalid) {
          this.currentTab = tabName
        }

        return;
      }

      if (tabName === 'tab-friend') {
        this.emailErrors()
        this.firstNameErrors()
        this.lastNameErrors()
        this.datePickerError('user')
        this.timePickerError('user')
        this.userCityError()
        this.genderErrors('user')

        const youFormInvalid = this.$v.user.email.value.$invalid
            || this.$v.user.firstName.value.$invalid
            || this.$v.user.lastName.value.$invalid
            || this.$v.user.birthDatePicker.birthDate.$invalid
            || this.$v.user.birthTimePicker.birthTime.$invalid
            || this.$v.user.city.value.$invalid
            || this.$v.user.gender.value.$invalid;

        if (!youFormInvalid) {
          this.currentTab = tabName
        }

        return;
      }
    },
    updateScroll() {
      this.scrollPosition = window.scrollY
    },
    getEndDate() {
      const now = new Date();
      let month = '' + (now.getMonth() + 1);
      if (month.length == 1) {
        month = '0' + month;
      }

      return  '' + (now.getFullYear() -18) + '-' + month + '-' + now.getDate();
    },
    getStartDate() {
      const now = new Date();
      let month = '' + (now.getMonth() + 1);
      if (month.length == 1) {
        month = '0' + month;
      }

      return '' + (now.getFullYear() -80) + '-' + month + '-' + now.getDate();
    },
    emailErrors() {
      this.$v.user.email.value.$touch();
      this.user.email.errors = [];
      if (!this.$v.user.email.value.$dirty) return;
      if (!this.$v.user.email.value.required) {
        this.user.email.errors.push(this.$t("you_mail_required_message"));
        return;
      }
      !this.$v.user.email.value.email && this.user.email.errors.push(this.$t("you_mail_invalid_message"))
    },
    genderErrors(person) {
      this.$v.[person].gender.value.$touch();
      this.[person].gender.errors = [];

      if (!this.$v.[person].gender.value.$dirty) {
        return;
      }

      if (!this.$v.[person].gender.value.required) {
        if (person === 'people') {
          this.[person].gender.errors.push(this.$t("friend_gender_required"))
        } else {
          this.[person].gender.errors.push(this.$t("you_gender_required"))
        }
        return;
      }
      if (!this.$v.[person].gender.value.inArray) {
        if (person === 'people') {
          this.[person].gender.errors.push(this.$t("friend_gender_invalid"))
        } else {
          this.[person].gender.errors.push(this.$t("you_gender_invalid"))
        }
      }
    },
    firstNameErrors() {
      this.$v.user.firstName.value.$touch();
      this.user.firstName.errors = [];
      if (!this.$v.user.firstName.value.$dirty) return;
      !this.$v.user.firstName.value.required && this.user.firstName.errors.push(this.$t("you_first_name_required"))
    },
    friendNameErrors() {
      this.$v.people.name.value.$touch();
      this.people.name.errors = [];
      if (!this.$v.people.name.value.$dirty) return;
      !this.$v.people.name.value.required && this.people.name.errors.push(this.$t("friend_name_required"))
    },
    lastNameErrors() {
      this.$v.user.lastName.value.$touch();
      this.user.lastName.errors = [];
      if (!this.$v.user.lastName.value.$dirty) return;
      !this.$v.user.lastName.value.required && this.user.lastName.errors.push(this.$t("you_last_name_required"))
    },
    datePickerError(person) {
      this.$v.[person].birthDatePicker.birthDate.$touch();
      this.[person].birthDatePicker.errors = [];
      this.[person].birthDatePicker.modal = false;

      if (!this.$v.[person].birthDatePicker.birthDate.$dirty) {
        return;
      }

      if (!this.$v.[person].birthDatePicker.birthDate.required) {
        if (person === 'people') {
          this.[person].birthDatePicker.errors.push(this.$t("friend_date_of_birth_required"))
        } else {
          this.[person].birthDatePicker.errors.push(this.$t("you_date_of_birth_required"))
        }
        return;
      }
      if (!this.$v.[person].birthDatePicker.birthDate.minDate) {
        if (person === 'people') {
          this.[person].birthDatePicker.errors.push(this.$t("friend_date_of_birth_less_than") + this.getStartDate())
        } else {
          this.[person].birthDatePicker.errors.push(this.$t("you_date_of_birth_less_than") + this.getStartDate())
        }
      }
      if (!this.$v.[person].birthDatePicker.birthDate.maxDate) {
        if (person === 'people') {
          this.[person].birthDatePicker.errors.push(this.$t("friend_date_of_birth_greater_than") + this.getEndDate())
        } else {
          this.[person].birthDatePicker.errors.push(this.$t("you_date_of_birth_greater_than") + this.getEndDate())
        }
      }
    },
    timePickerError(person) {
      this.$v.[person].birthTimePicker.birthTime.$touch();
      this.[person].birthTimePicker.errors = [];
      if (!this.$v.[person].birthTimePicker.birthTime.$dirty) {
        return;
      }

      if (!this.$v.[person].birthTimePicker.birthTime.required) {
        if (person === 'people') {
          this.[person].birthTimePicker.errors.push(this.$t("friend_time_of_birth_required"))
        } else {
          this.[person].birthTimePicker.errors.push(this.$t("you_time_of_birth_required"))
        }
      }
    },
    userCityError() {
      this.$v.user.city.value.$touch();
      this.user.city.errors = [];
      if (!this.$v.user.city.value.$dirty) {
        return;
      }

      if (!this.$v.user.city.value.required) {
        this.user.city.searchInput = null;
        this.user.city.errors.push(this.$t("you_city_of_birth_required"))
      }
    },
    friendCityError() {
      this.$v.people.city.value.$touch();
      this.people.city.errors = [];
      if (!this.$v.people.city.value.$dirty) {
        return;
      }

      if (!this.$v.people.city.value.required) {
        this.people.city.searchInput = null;
        this.people.city.errors.push(this.$t("friend_city_of_birth_required"))
      }
    },
    getUserCity() {
      if (this.user.city.searchInput < 2) {
        return;
      }

      this.user.city.results = [];
      this.user.city.isCityLoading = true

     return asyncPostData( '/api/cities/search', {'cityPattern' : this.user.city.searchInput})
        .then(function(data) {
          this.user.city.results.push({ name: "cities", data: data });
        }.bind(this))
        .catch(function (error) {
          this.user.city.apiError = error.message
        }.bind(this))
        .finally(function () {
          this.user.city.isCityLoading = false;
        }.bind(this));
    },
    getFriendCity() {
      if (this.user.city.searchInput < 2) {
        return;
      }

      this.people.city.results = [];
      this.people.city.isCityLoading = true

      return asyncPostData( '/api/cities/search', {'cityPattern' : this.people.city.searchInput})
          .then(function(data) {
            this.people.city.results.push({ name: "cities", data: data });
          }.bind(this))
          .catch(function (error) {
            this.people.city.apiError = error.message
          }.bind(this))
          .finally(function () {
            this.people.city.isCityLoading = false;
          }.bind(this));
    },
    personGender() {
      if (this.user.gender.value === 'male') {
        return 'female'
      }

      return 'male'
    },
    calculateAgain() {
      this.people.name.value = null;
      this.people.city.value = null;
      this.people.city.results = [];
      this.people.city.searchInput = null;
      this.people.birthDatePicker.birthDate = null;
      this.people.birthTimePicker.birthTime = null;

      this.showCalculatingErrorBlock  = false;
      this.showCalculatedBlock = false;
      this.showCalculatingBlock = false;
      this.calculatingErrors = null;
      this.showUserForm = true;
      this.currentTab = 'tab-you'
    },
    calculate() {
      this.showUserForm = false;
      this.showCalculatingBlock = true;
      NProgress.start();
      return asyncPostData( '/api/calculate',
          {
            'userEmail' : this.user.email.value,
            'userFirstName' : this.user.firstName.value,
            'userLastName' : this.user.lastName.value,
            'userCity': this.user.city.value,
            'userBirthDate': this.user.birthDatePicker.birthDate,
            'userBirthTime': this.user.birthTimePicker.birthTime,
            'userGender': this.user.gender.value,
            'friendName': this.people.name.value,
            'friendCity': this.people.city.value,
            'friendBirthDate': this.people.birthDatePicker.birthDate,
            'friendBirthTime': this.people.birthTimePicker.birthTime,
            'friendGender': this.personGender(),
            'registerUser': this.registerUser,
            'language': this.$i18n.locale
          })
          .then(function(data) {
            this.showCalculatingBlock = false;
            this.showCalculatedBlock = true;
            return  data;
          }.bind(this))
          .catch(function (error) {
            let errors = error.message.split('~')

            this.calculatingErrors = errors;
            this.showCalculatingBlock = false;
            this.showCalculatingErrorBlock = true;

          }.bind(this))
          .finally(function () {
            NProgress.done();
          });
    },
    renderSuggestion(suggestion) {
      return (
          <div>
            {suggestion.item.name}
          </div>
      );
    },
    getSuggestionValue(suggestion) {
      return suggestion.item.name;
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  }

}
</script>

